<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="outputService" class="com.kevll.OutputServiceImpl">
    </bean>

    <bean id="helloWorldService" class="com.kevll.HelloWorldServiceImpl">
        <property name="text" value="Hello World!"></property>
        <property name="outputService" ref="outputService"></property>
    </bean>

    <!--<bean name="beanInitializeLogger" class="com.kevll.BeanInitializeLogger">-->
    <!--</bean>-->

    <bean id="timeInterceptor" class="com.kevll.aop.TimerInterceptor"></bean>

    <bean id="autoProxyCreator" class="com.kevll.aop.AspectJAwareAdvisorAutoProxyCreator"></bean>

    <bean id="aspectjAspect" class="com.kevll.aop.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="timeInterceptor"></property>
        <property name="expression" value="execution(* com.kevll.*.*(..))"></property>
    </bean>
</beans>